 


  <div class="col-md col-lg">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Retailer</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Orders History
          <i class="fa fa-circle-o-notch  fa-spin" *ngIf="showSuppliersSpinner"></i>
        </li>
      </ol>
    </nav>

    <table class="table mt-2">
      <thead>
        <tr class="table-secondary">
          <th>Order Number</th>
          <th>Order Date</th>
          <th>OrderID</th>
          <th>Total Quantity</th>
          <th>Total Amount</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderdetails; let index = index">
          <td>{{index+1}}</td>
          <td>{{order.creationDateTime}}</td>
          <td>{{order.orderID}}</td>
          <td>{{order.totalQuantity}}</td>
          <td>{{order.totalAmount}}</td>
        </tr>
      </tbody>
    </table>

  </div>
