<!--Html Page of About of Great Outdoor-->
<!--Created By Prafull Sharma on 09/11/2019-->
<div class="jumbotron">
  <h1>Great Outdoor</h1>
  <p>Great Outdoors (GO) is an electronic distributor of outdoor products. GO sources the products from various manufacturers and supplies it to Retailers across various countries</p>
</div>
<div class="row mb-3">
  <div class="col-lg-6">
    <h3>Product Categories</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <h4>Camping Eqipment</h4>
        <ul>
          <li>This is the second largest contributor ( ~ 35%).</li>
          <li>Gross profit % is ~36% – 37%  and is much lower than the overall average of 40% - 41%</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Golf Euipment</h4>
        <ul>
          <li>Contributes to ~ 15% of the overall revenue</li>
          <li>Gross profit is around 18% - 20% higher than the overall average</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Mountaineering Equipment</h4>
        <ul>
          <li>Since its launch in 2011, this has been doing well and contributes to around 10% - 12 % of the top line with Gross profit % at the same level as the overall average</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Outdoor Protaction</h4>
        <ul>
          <li>o	This is the most profitable category. Gross profit is around 50% higher than the overall average</li>
        </ul>
      </li>
      <li class="list-group-item">
        <h4>Personal Accesssories</h4>
        <ul>
          <li>Revenue share is 40+%</li>
          <li>Gross Profit is in the same range as the overall Gross profit of DD</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h3>Highlights</h3>
    <ul class="list-group">
      <li class="list-group-item">Since 2010, GO’s revenue has been increasing at a rapid rate of > 26% per year on year.</li>
      <li class="list-group-item">The total revenue of  2012 is 1.5 B USD   whereas in the last fiscal year 2010-11 the revenue was 0.91 B USD.</li>
      <li class="list-group-item">Web contributed to 89.6% of all the orders (by value). In 2013, for the first seven months, web contributed to 91.1% of all the orders (by value)</li>
    </ul>
  </div>
</div>
