

<div class="slide show container">

  <div class="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/CampingEquipment.jpg" alt="CampingEquipment" width="100%" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded "> <h1>Camping Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/MountaineeringEquipment.jpg" alt="MountaineeringEquipment"width="100%" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded "> <h1>Mountaineering Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/GolfEquipment.jpg" alt="GolfEquipment" width="100%" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded "> <h1>Golf Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/PersonalAccessories.jpg" width="100%" alt="PersonalAccessories">
      </a>
    </div>
    <div class="rounded"> <h1>Personal Accessories</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/OutdoorProtection.jpg" width="100%" alt="OutdoorProtection" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded"> <h1>Outdoor Protection</h1></div>
  </div>

</div>
