<div class="container">

  <div class="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="img/CampingEquipment.jpg" alt="CampingEquipment" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Camping Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="img/MountaineeringEquipment.jpg" alt="MountaineeringEquipment" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Mountaineering Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="img/GolfEquipment.jpg" alt="GolfEquipment" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Golf Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="img/PersonalAccessories.jpg" alt="PersonalAccessories">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Personal Accessories</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="img/OutdoorProtection.jpg" alt="OutdoorProtection" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Outdoor Protection</h1></div>
  </div>

</div>
