<div class="carousel-item">
  <div class="rounded float-left">
    <a href="#">
      <img src="assets/images/CampingEquipment.jpg" alt="CampingEquipment" class="img-thumbnail">
    </a>
  </div>
  <div class="carousel-caption d-none d-md-block">
    <h5>CampingEquipment</h5>
    
  </div>
</div>

<!--<div class="slide show container">

  <div class="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/CampingEquipment.jpg" alt="CampingEquipment" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Camping Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/MountaineeringEquipment.jpg" alt="MountaineeringEquipment" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Mountaineering Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/GolfEquipment.jpg" alt="GolfEquipment" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Golf Equipment</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/PersonalAccessories.jpg" alt="PersonalAccessories">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Personal Accessories</h1></div>
  </div>

  <div clss="row">
    <div class="rounded float-left">
      <a href="#">
        <img src="assets/images/OutdoorProtection.jpg" alt="OutdoorProtection" class="img-thumbnail">
      </a>
    </div>
    <div class="rounded float-right"> <h1>Outdoor Protection</h1></div>
  </div>

</div>-->
